.checkout

  &-title
    position: relative

  &-title::after
    position: absolute
    content: url('../../static/image/checkout-garant.svg')
    margin-left: 20px
    top: 2px

  &-content
    display: flex
    justify-content: space-between

  &-payment
    width: 60%

    &__comp

      &__top
        display: flex
        justify-content: space-between
        align-items: center
        padding: 15px 20px
        border: 1px solid $light_grey
        background-color: $lighest_grey

        &__title
          position: relative
          padding-left: 20px
          font-family: Roboto
          font-size: 12px
          font-weight: 500
          line-height: 14px
          color: $dark_grey
          text-transform: uppercase

          &_active
            color: $black

        &__title::before
          content: url(../../static/image/check-checkout.svg)
          position: absolute
          left: 0
          bottom: -5px

        &__title_active::before
            content: url(../../static/image/check-checkout-active.svg)
            color: $black

        &__link
          font-family: Roboto
          font-size: 12px
          font-weight: 500
          line-height: 19px
          color: $orange
          text-decoration: underline
          cursor: pointer

          &_active
            display: none

      &__bottom
        display: none

        &_active
          display: flex
          flex-direction: column
          padding: 20px 0

      &__overprof::after
        display: none

      &__form
        display: flex
        justify-content: space-between
        flex-wrap: wrap

      &__wrapfield
        width: 48%

        &_address
          width: 100%

      &__field
        width: 100%
        padding-left: 15px

      &__auth
        font-family: Roboto
        font-size: 14px
        font-weight: 500
        line-height: 14px
        color: $blue
        margin-bottom: 20px
        cursor: pointer

      &__checkbox
        margin-bottom: 20px

      &__result
        font-family: Roboto
        font-style: normal
        font-weight: normal
        font-size: 13px
        line-height: 13px
        margin-bottom: 20px

      &__label::after
        display: none

      &__textarea
        resize: none
        margin-bottom: 20px

  &-info
    width: 35%

    &__item
      padding: 20px
      border: 1px solid $light_grey
      border-bottom: none

      &__title
        display: inline-block
        margin-bottom: 20px
        font-family: Roboto
        font-size: 12px
        font-weight: 500
        line-height: 14px
        color: $black
        text-transform: uppercase

      &__info
        display: flex
        flex-direction: column

      &__text
        font-family: Roboto
        font-size: 13px
        font-weight: 400
        line-height: 13px
        color: $black

        &_grey
          color: $dark_grey

        &_list
          margin-bottom: 15px
          font-weight: 500

        &_address
          margin-bottom: 15px

      &__link
        color: $blue

    &__item:last-child
      border-bottom: 1px solid $light_grey

    &__sum
      display: flex
      justify-content: space-between

    &__promo
      margin-top: 25px
      margin-bottom: 15px

    &__input
      height: 40px
      width: 100%
      background: url(../../static/image/account-arrow.svg) no-repeat
      background-position-x: 95%
      background-position-y: center
      cursor: pointer

    &__input::placeholder
      font-family: Inter
      font-size: 12px
      font-weight: 400
      line-height: 24px
      color: $grey

    &__product
      display: flex
      flex-direction: column
      padding-bottom: 15px
      padding-top: 15px
      font-family: Roboto
      font-size: 13px
      font-weight: 400
      border-bottom: 1px solid $light_grey

      &__title
        margin-bottom: 5px
        line-height: 18px
        color: $blue

      &__price
        line-height: 13px
        color: $black

    &__product:first-child
      padding-top: 0

    &__product:last-child
      padding-bottom: 0
      border-bottom: none

@media screen and ( max-width: 767px )
  .checkout

    &-title::after
      content: url('../../static/image/checkout-garant-mobile.svg')
      margin-left: 10px
      top: 0

    &-content
      flex-direction: column

    &-payment
      width: 100%

    &-info
      width: 100%

      &__item

        &__title
          position: relative
          width: 100%
          margin-bottom: 0

          &_active
            margin-bottom: 20px

          &_active:after
            transform: rotate(180deg)

        &__title:after
          content: url('../../static/image/navline-arrow.svg')
          position: absolute
          right: 0

        &__info
          display: none

          &_active
            display: flex

@media screen and ( max-width: 630px )
  .checkout

    &-payment

      &__comp

        &__wrapfield
          width: 100%

        &__wrapprof, &__checkbox label, &__result
          font-size: 12px

@media screen and ( max-width: 525px )
  .checkout

    &-payment

      &__comp

        &__top

          &__title, &__link
            font-size: 9px

        &__auth
          font-size: 12px

        &__button
          font-size: 12px
          width: 100%
