.listing

  &-product
    background: url(../../static/listing_image/BG-listing.jpg)
    background-repeat: no-repeat
    background-size: cover
    padding-top: 30px
    padding-bottom: 40px
    margin-top: 30px
    color: $white

    &-sections
      display: flex

    &-title
      text-transform: uppercase
      margin-top: 70px
      margin-bottom: 20px
      font-family: Russo One
      font-style: normal
      font-weight: normal
      font-size: 40px
      line-height: 30px

    &-stars
      color: #D9760F

    &-price
      margin-bottom: 20px
      font-family: Russo One
      font-size: 24px
      font-weight: 400
      line-height: 29px
      color: $black

    &-button
      width: 100%

    &-cards

      &__filters
        width: 25%
        margin: 40px 0
        padding: 0 10px

      &__wrapper
        width: 75%

      &-wrap
        display: flex
        justify-content: space-between
        flex-wrap: wrap
        width: 100%
        margin: 40px 0

    &-card
      padding: 40px
      max-width: 320px
      position: relative

      &-icons
        position: absolute
        top: 20px
        right: 20px
        width: 25px
        height: 25px
        cursor: pointer

      &-list
        top: 50px

      &::after
        position: absolute
        left: 0
        top: 0
        content: 'Новинкa'
        padding: 5px 25px
        font-family: Russo One
        font-style: normal
        font-weight: normal
        color: white
        text-transform: uppercase
        background-color: orange
        background: linear-gradient(-45deg, transparent 15px, orange 0)

      &-title
        display: flex
        flex-direction: column
        min-height: 60px
        font-family: Russo One
        font-style: normal
        font-weight: normal
        font-size: 15px
        line-height: 18px
        margin-top: 20px
        margin-bottom: 15px

      &-button
        font-family: Roboto
        font-style: normal
        font-weight: 500
        font-size: 13px
        line-height: 19px
        text-align: left
        color: $orange
        text-decoration: underline
        background-image: url(../../static/image/listing-arrow.svg)
        background-repeat: no-repeat
        background-position-y: center
        background-position-x: 85px
        cursor: pointer

    &-info
      font-family: Roboto
      font-style: normal
      font-weight: 300
      font-size: 15px
      line-height: 26px
      color: $dark_grey

.filter
  padding: 20px
  border: 1px solid $grey

  &__title
    display: flex
    justify-content: space-between

  &__name
    text-transform: uppercase
    font-family: Roboto
    font-size: 12px
    font-weight: 500
    line-height: 14px
    color: $black

  &__arrow
    transform: rotate(270deg)

    &_open
      transform: rotate(90deg)

  &__content
    position: relative
    display: none
    margin-top: 15px

    &_open
      display: flex
      flex-direction: column

    &_open label
      margin-bottom: 10px

  &-checkbox input
    display: none

  &-checkbox

    &-label
      position: relative
      margin-left: 25px !important
      padding-top: 2px
      color: $black

      &:before
        top: 0
        left: -25px

      &:after
        top: 0
        left: -25px

  &-checkbox:hover
    display: none

  &-slider

    &__values
      display: flex
      align-items: center
      justify-content: space-between

    &__field
      min-width: 120px
      padding: 10px 15px
      border: 1px solid $grey
      font-family: Roboto
      font-size: 14px
      font-weight: 500
      line-height: 24px

    &__dash
      width: 13px
      height: 1px
      background-color: $grey

    &__bar

      &_price
        display: flex
        justify-content: space-between

      &_price span
        font-family: Roboto
        font-size: 14px
        font-weight: 500
        line-height: 24px

//адаптив под средний размер
@media screen and ( max-width: 1300px )
  .listing

    &-product

      &-cards

        &__filters
          width: 35%

        &__wrapper
          width: 65%

@media screen and ( max-width: 1010px )
  .listing

    &-product

      &-cards

        &-wrap
          justify-content: center

        &__filters
          width: 45%

//адаптив под мобильные устройств

@media screen and ( max-width: 740px )

  .listing
    padding-top: 20px

    &-product
      background: url(../../static/image/BG-listing-mobile.jpg)
      background-repeat: no-repeat
      background-size: cover
      padding-top: 20px
      padding-bottom: 20px
      margin-top: 0

      &-sections
        flex-direction: column

      &-price
        font-size: 18px
        line-height: 22px

      &-cards

        &-wrap
          justify-content: space-between

        &__filters
          width: 100%

        &__wrapper
          width: 100%

      &-breadcrumb
        width: 150%

      &-title
        margin-top: 20px
        margin-bottom: 20px
        font-size: 20px
        line-height: 24px

      &-card
        padding: 20px 15px
        max-width: 30%

        &-icons
          width: 15px
          height: 15px
          top: 10px
          right: 10px

        &-list
          top: 25px

        &::after
          font-size: 9px
          line-height: 12px

        &-image
          max-width: 100%
          max-height: 100%

        &-title
          font-size: 9px
          line-height: 12px
          margin-top: 13px
          margin-bottom: 13px

        &-button
          font-size: 11px
          line-height: 19px
          background-position-x: 70px

      &-info
        display: none

@media screen and ( max-width: 560px )
  .listing

    &-product

      &-button
        padding: 7px

@media screen and ( max-width: 420px )
  .listing

    &-product

      &-card
        max-width: 48%
        // variant 2
        // &::after
        //   bottom: 50%
